{% extends "base.html" %} 
{% block content %} 
        <h1>So many pictures of us!</h1> 
        <img src = https://picsum.photos/seed/picsum/200/300 alt = random>
        <p>Tumeric yes plz intelligentsia, lo-fi hella messenger bag woke gluten-free adipisicing banh mi banjo in af truffaut. Culpa activated charcoal cardigan, elit nostrud lumbersexual celiac heirloom vegan direct trade typewriter vice. Chillwave lomo farm-to-table tilde ullamco squid neutral milk hotel venmo craft beer blue bottle. Banh mi ascot cray 8-bit marfa. Whatever irony labore quinoa poutine mlkshk woke.</p>
{% endblock %} 