{% extends "base.html" %} 
{% block content %} 
        <h1>HOME is where the heart is!</h1> 
        <p>Banjo hella jawn marfa vice occupy. Poutine four dollar toast fixie jean shorts jianbing forage squid sustainable. Do selvage ad, shoreditch live-edge everyday carry kombucha proident small batch pok pok velit sustainable bespoke dolore. Fashion axe VHS poke migas solarpunk gentrify, franzen elit before they sold out etsy direct trade. Quinoa tumblr adipisicing sartorial selvage.

          Cronut helvetica schlitz raclette blue bottle squid blackbird spyplane umami. Vinyl before they sold out semiotics sriracha mollit etsy microdosing tilde post-ironic vice same nisi raclette. Wayfarers blog franzen stumptown aesthetic poke everyday carry craft beer pug, ut kickstarter celiac anim. Vaporware fashion axe post-ironic art party hell of messenger bag enamel pin nostrud jawn et literally mlkshk deserunt gochujang.

          Keffiyeh minim kale chips vegan. Cold-pressed banjo kinfolk, consequat vinyl tilde tacos jean shorts ethical disrupt. Poke in next level ut tofu. Artisan yes plz praxis, vibecession glossier gluten-free big mood.

          Chia nulla butcher cardigan gentrify, mukbang cloud bread glossier. Cornhole cupidatat asymmetrical tattooed chia. Lumbersexual non forage semiotics franzen jean shorts dreamcatcher blackbird spyplane solarpunk. Tumeric velit four loko meditation godard synth voluptate ramps echo park sunt. Occupy ea gastropub, portland non poutine blue bottle in jean shorts farm-to-table kickstarter 3 wolf moon. Thundercats try-hard tilde twee. Narwhal pariatur 90's tumeric.</p>
{% endblock %} 
